<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}
</style>
<body>
<div class="w3-container w3-padding-32 w3-center">
    <h3>About Me, The Food Girl</h3><br>
    <img src="https://scontent.fbkk5-8.fna.fbcdn.net/v/t31.0-8/20901477_10155784588978013_919497259385399143_o.jpg?_nc_cat=106&ccb=2&_nc_sid=84a396&_nc_eui2=AeFXbJTpfKIF01upLMnUvM2G0bkowWNgzWXRuSjBY2DNZZs50fF4MyWC5G06PDfQXGh5xxn9cVGtsRxGDs45WxqK&_nc_ohc=_3UTyMI4MZwAX9DkU-F&_nc_ht=scontent.fbkk5-8.fna&oh=c4727198f675be74c1b6c33285b81b45&oe=5FEFDAFC" alt="Praworada" class="w3-image" style="display:block;margin:auto" width="800" height="533">
    <div class="w3-padding-32">
        <h4><b>I am Who I Am!</b></h4>
        <h6><i>With Passion For Real, Good Food</i></h6>
        <p>Just me, myself and I, exploring the universe of unknownment. I have a heart of love and an interest of lorem ipsum and mauris neque quam blog. I want to share my world with you. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
    </div>
</div>
<hr>